@model Lab1.ViewModels.CartViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Cart</h1>

<form method="post" asp-action="PlaceOrder">

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th class="text-right">Amount</th>
            <th class="text-right">Subtotal</th>

        </tr>
    </thead>
    <tbody>


        @for (int i = 0; i < Model.Products.Count; i++)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => modelItem.Products[i].Product.Name)
                @Html.HiddenFor(modelItem => modelItem.Products[i].Product.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.Products[i].Product.Price)
                @Html.HiddenFor(modelItem => modelItem.Products[i].Product.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.Products[i].Amount)
                @Html.HiddenFor(modelItem => modelItem.Products[i].Amount)

            </td>
            <td>

                @{
                    var result = Model.Products[i].Amount * Model.Products[i].Product.Price;
                    <span>@result</span>
                }

            </td>
        </tr>
        }

    </tbody>

        @Html.DisplayFor(model => model.TotalPrice)
<tfoot>
    <tr>
        <td colspan="3" class="text-right">Total:</td>
        <td class="text-right">
            @Model.TotalPrice.ToString("C")
        </td>
        <td>

            <input type="submit" class=" float-right btn btn-success" value="Order" />
            @*<a class="btn btn-primary" asp-controller="Order" asp-action="PlaceOrder">Order</a>*@
        </td>
    </tr>
    @Html.HiddenFor(model => model.TotalPrice)
</tfoot>


</table>
    </form>


<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
