@model IEnumerable<Lab1.Models.Product>

@{
    ViewData["Title"] = "Index";
}
<h1>Products</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
    <link rel="stylesheet" href="~/css/products.css">
    

    <div class="d-flex flex-row justify-content-around align-content-around flex-wrap">
        @foreach (var item in Model)
        {
        <div class="card flex-grow-0 flex-shrink-1 m-1" style="flex-basis: 300px">
            <img src="@item.ImageUrl" alt="@item.Name" class=" img-thumbnail" />
            <h3>@item.Name</h3>
            <p>@item.Description</p>

            <p>
                  @item.Price.ToString("C")
                @if (User.Identity.IsAuthenticated)
                {
                 <span class="float-right btn-outline-success">@Html.ActionLink("Buy", "AddToCart", "Products", new { id = item.Id }, new { @class = "btn btn-success" })</span>
                }
            </p>           
        </div>
        }
    </div>


