@model IEnumerable<Lab1.Models.Product>

@{
    ViewData["Title"] = "Products";
}
<h1>Products</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>



<div class="d-flex flex-row justify-content-around align-content-around flex-wrap">
    @foreach (var item in Model)
    {
        <div class="card flex-grow-0 flex-shrink-1 m-1" style="flex-basis: 300px">
            <img src="@item.ImageUrl" alt="@item.Name" class="card-img-top" />
            <div class="card-body">

                <h3 class="card-title">@item.Name</h3>
                <p class="card-text">@item.Description</p>

                <p>
                    @item.Price.ToString("C")
                    @if (User.Identity.IsAuthenticated)
                    {
                        @*<span class="float-right btn-outline-success">@html.actionlink("buy", "addtocart", "products", new { id = item.Id }, new { @class = "btn btn-success" })</span>*@
                        @*<span class="float-right"><button class="btn btn-success" onclick="AddToCart('@item.Id')">Buy</button></span>*@
                        <a class="btn btn-success float-right" asp-controller="Products" asp-action="AddToCart" asp-route-productId="@item.Id">Buy</a>



                    }
                </p>
            </div>
        </div>
    }
</div>


